@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./padding.css";
@import "./margin.css";
@import "./animation.css";
@import "./background.css";
@import "./text.css";
@import "./icons.css";
@import "./border.css";

html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  @apply w-full flex flex-col;
}

body {
  @apply grow w-full flex flex-col text-base text-default bg-paper;
}

#__next {
  @apply grow w-full flex flex-col;
}

* {
  -webkit-tap-highlight-color: transparent;
}