@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './padding/index.css';
@import './margin/index.css';
@import './animations/index.css';
@import './background/index.css';
@import './text/index.css';
@import './size/index.css';
@import './border/index.css';

html,
body {
  font-size: 16px;
}

body {
  height: 100dvh;
}

html {
  @apply w-full flex flex-col;
}

body {
  @apply grow w-full flex flex-col text-base text-default bg-default overflow-hidden;
}

#__next {
  @apply grow w-full flex flex-col overflow-hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .a {
    @apply text-colored hovered-or-clicked-or-focused:underline;
  }
}
