@layer utilities {
  .animate-opacity-in {
    animation: opacity-in 300ms ease-out;
  }

  .animate-scale-in {
    animation: scale-in 300ms ease-out;
  }

  .animate-slideup-in {
    animation: slideup-in 300ms ease-out;
  }

  .animate-opacity-scale-in {
    animation: opacity-in 300ms ease-out, scale 300ms ease-out;
  }

  @keyframes opacity-in {
    from {
      opacity: 0%;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0%);
    }
  }

  @keyframes slideup-in {
    from {
      transform: translateY(calc(100vh));
    }
  }

  .animate-opacity-out {
    animation: opacity-out 300ms ease-in;
  }

  .animate-scale-out {
    animation: scale-out 300ms ease-in;
  }

  .animate-slideup-out {
    animation: slideup-out 300ms ease-in;
  }

  .animate-opacity-scale-out {
    animation: opacity-out 300ms ease-in, scale 300ms ease-in;
  }

  @keyframes opacity-out {
    to {
      opacity: 0%;
    }
  }

  @keyframes scale-out {
    to {
      transform: scale(0%);
    }
  }

  @keyframes slideup-out {
    to {
      transform: translateY(calc(100vh));
    }
  }

  .animate-vibrate-loop {
    animation: vibrate-loop 125ms ease-in-out infinite alternate;
  }

  @keyframes vibrate-loop {
    from {
      transform: rotate(-1deg);
    }
    to {
      transform: rotate(1deg);
    }
  }

  .animate-scale-xy-in {
    animation: scale-xy-in 300ms ease-out;
  }

  .animate-scale-xy-out {
    animation: scale-xy-out 300ms ease-in;
  }

  @keyframes scale-xy-in {
    from {
      opacity: 0%;
      transform: scale(0%);
      translate: calc(-50vw + var(--x)) calc(-50vh + var(--y));
    }
  }

  @keyframes scale-xy-out {
    to {
      opacity: 0%;
      transform: scale(0%);
      translate: calc(-50vw + var(--x)) calc(-50vh + var(--y));
    }
  }

  .animate-scale-xywh-in {
    animation: scale-xywh-in 300ms ease-out;
  }

  .animate-scale-xywh-out {
    animation: scale-xywh-out 300ms ease-in;
  }

  @keyframes scale-xywh-in {
    from {
      opacity: 0%;
      transform: scale(0%);
      translate: calc(var(--x) - (0.5 * var(--w))) calc(var(--y) - (0.5 * var(--h)));
    }
  }

  @keyframes scale-xywh-out {
    to {
      opacity: 0%;
      transform: scale(0%);
      translate: calc(var(--x) - (0.5 * var(--w))) calc(var(--y) - (0.5 * var(--h)));
    }
  }

  @keyframes flip-in {
    to {
      transform: rotateY(180deg);
    }
  }

  @keyframes flip-out {
    from {
      transform: rotateY(180deg);
    }
  }

  .animate-flip-in {
    animation: flip-in 900ms ease-in-out;
  }

  .animate-flip-out {
    animation: flip-out 900ms ease-in-out;
  }

}
