/**
 * Padding safe
 **/
@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }

  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }

  .py-safe {
    @apply pt-safe pb-safe;
  }

  .px-safe {
    @apply pl-safe pr-safe;
  }

  .p-safe {
    @apply px-safe py-safe;
  }
}
